.questions-content {
	width: 30%;
	height: 30%;
	overflow: auto;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	border: 1px solid rgb(163, 163, 163);
	background: white;
	padding: 10px;
}

.btn-back {
	margin-left: 30px;
}

.btn-next {
	margin-right: 30px;
}
