.questions-content {
	width: 45%;
	height: 30%;
	overflow: auto;
	margin: auto;
	border: 1px solid rgb(163, 163, 163);
	background: white;
	padding: 20px;
	border-radius: 10px;
}

.question-description {
	background: rgb(226, 225, 225);
	font-family: Consolas, Courier New, monospace;
	padding: 10px;
}

.btn-next-test {
	width: 100px;
	margin: 10px;
	margin-left: calc(100%/2 - 52px);
}

.options-content {
	padding-bottom: 10px;
}

.question-id {
	text-align: center;
	font-weight: bold;
}
.progress_bar{
	padding-bottom: 10px;
}
