.image {
    width: 50px;
    height: 50px;
    margin-left: 30px;
  }
a.link {
    text-decoration: none;
    color: rgb(167, 177, 177);
    padding: 10px;
    margin-left: 30px;
    font-family: "Roboto", sans-serif;
  }
a.link:hover {
     color: rgb(244, 245, 236); 
    }