.workspace {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	position: absolute;
	left: 0;

	height: calc(100% - 80px);
	width: 100%;
	padding: 20px;
	box-sizing: border-box;

	background-color: var(--white);
	overflow: scroll;
}

.sandbox {
	position: relative;
	width: 60%;
	padding: 10px;
	box-sizing: border-box;

	box-shadow: 0 0 2px -1px var(--gray);
	overflow: hidden;
}

.interface-box {
	width: 40%;
	padding: 10px;
	box-sizing: border-box;

	box-shadow: 0 0 2px -1px var(--gray);
}

.exercise-name {
	font-size: 21px;
}
.exercise-complexity {
	font-style: italic;
}
.exercise-description {
}

.test-output {
}

.btn-sandbox {
	width: 150px;
	margin: 10px;
}

 .sandbox-spinner{
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}
