.textbook-content {
	text-align: center;
	color: rgb(41, 41, 41);
	font-family: "Roboto", sans-serif;
	width: 60%;
	margin: auto;
	margin-bottom: 70px;
}
.paragraph-text{
	margin: auto;
	text-align: justify;
	background-color:white;
	padding: 40px;
	width: 70%;
	border: 1px solid rgb(211, 211, 211);
}
