.login-modal-overlay {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 100;

    background-color: rgba(0, 0, 0, 0.40);
}

.login-modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    transform: translate(-50%, -50%);
}
